body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color:gold;
}
.product-image img{
  width: 300px;
  height: 390px;
}
/* .product-image {
  border: 2px solid white;
} */

.product-container {
  display: grid;
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.product-info {
  width: 900px;
  height: 600px;
  background-color:black;
  color:yellow;
  padding: 20px;
  text-align: center;
}
.product-info button{
  background-color: yellow;
  border: 2px solid white;
  padding: 5px 20px 5px 20px;
  border-radius:30px;
  font-size: large;
  font-weight: bold;
  
}
.Footer h1{
  text-align: center;
}
.Footer p{
  text-align: center;
  color: white;
}

/* Media Queries */
@media (max-width: 992px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
      grid-template-columns: 1fr;
  }
}
.headercontainer{
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.logo-container img{
  width: 150px;
  height: 70px;
}
@media (max-width:1882) {
  .headercontainer{
    grid-template-columns:1fr;
  }
  
}





